{% extends "components/base.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>is active</th>
        </tr>
    </thead>
    <tbody>
        {% for elt in data %}
        <tr>
            <th>{{ name }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}