{% extends "components/base.html" %}
{% block content %}

<table>
    <thead>
        <tr>
          <th>Hypervisor</th>
          <th>url</th>
        </tr>
    </thead>
    <tbody>
        {% for hypervisor in hypervisors %}
        <tr>
            <td><a href="/hypervisor/{{ hypervisor.key }}">{{ hypervisor.key }}</a></td>
            <td>{{ hypervisor.data }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}