<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/assets/favicon.png" type="image/png">
    <title>{% block title %}{{ title }} - My App{% endblock %}</title>

    {% include "components/styles.html" %}
</head>

<body>
    {% include "components/nav.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
       <a>Quentin SANCHIONI, Louis MAILLARD, Xavier BRUN</a>
    </footer>
</body>

</html>